<div class="dash-left">
    <ul>
        <li class="active"><a [routerLink]="['/admin-dashboard']" class="active" >Dashboard</a></li>
        <li><a [routerLink]="['/admin-createblog']">Create Blogs</a></li>
        <li><a [routerLink]="['/admin-createcategory']">Create Category</a></li>
        <li><a [routerLink]="['/admin-displaycategory']">Display Category</a></li>
        <li><a [routerLink]="['/admin-display']">Display Blogs</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</div>   
