
<section class="dashboard-wrap mtb-40">
    <div class="container">
          <div class="body-content">
          <div class="row">
            <div class="col-md-3">
              <app-sidebar></app-sidebar>
                  </div>
                  <div class="col-md-9">
                      <div class="dash-right">
                          <div class="dash-header">
                            <div class="dash-title">
                                <h3>Create Category</h3>
                            </div><br><br>
                          </div>
                          <div class="blog-form">
                            <form>
                              <div class="form-group form-row">
                                  <label class="col-md-3">Title <span class="required">*</span></label>
                                  <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Title" required>
                                  </div>
                              </div>
                            
                              <div class="form-group form-row">
                                  <label class="col-md-3"></label>
                                  <div class="col-md-9">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                  </div>
                              </div>
                            </form>
                          </div>
                      </div>   
                  </div>
          </div>
          </div>
    </div>
  </section>

  