<section class="banner">
    <div class="banner-box">
        <div class="intro-text">
            <!-- <div class="intro-text-box">
            <h1>Lorem Ipsum is simply dummy text</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div> -->
        </div>
        <img src="/assets/assets/images/at.jpg" class="img-fluid" alt="banner" >
    </div>
</section>
<section class="cmspage mtb-40">
    <div class="container">
        <h1>About</h1>
        <div class="page-desc">
            <p>Invest yourself in the business verse of the tech world with one of the most popular technology blogs thriving this year- Tech-Crunch .The blog publishes content on businesses related to tech.
                and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                with the release of Letraset sheets containing  and more recently with desktop
                publishing software like Aldus PageMaker including versions.</p>
                <p>Invest yourself in the business verse of the tech world with one of the most popular technology blogs thriving this year- Tech-Crunch .The blog publishes content on businesses related to tech.
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing  and more recently with desktop
                    publishing software like Aldus PageMaker including versions.</p>
            <p>Invest yourself in the business verse of the tech world with one of the most popular technology blogs thriving this year- Tech-Crunch .The blog publishes content on businesses related to tech.
                and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                with the release of Letraset sheets containing  passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions .</p>
                <p>Invest yourself in the business verse of the tech world with one of the most popular technology blogs thriving this year- Tech-Crunch .The blog publishes content on businesses related to tech.
                    industry's standard ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Invest yourself in the business verse of the tech world with one of the most popular technology blogs thriving this year- Tech-Crunch .The blog publishes content on businesses related to tech.</p>
        </div>
    </div>
</section>
