<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h3>Create Blog</h3>
                            </div><br><br>
                        </div>
                        <div class="blog-form">
                            <form [formGroup]="data" (ngSubmit)='register()'>
                                <div class="form-group form-row">
                                    <label class="col-md-3">Title <span class="required">*</span></label>
                                    <div class="col-md-9">
                                        <input type="text" formControlName="title" class="form-control" placeholder="Title" required>
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <label class="col-md-3">Description <span class="required">*</span></label>
                                    <div class="col-md-9">
                                        <textarea formControlName="description" rows="5" class="form-control"
                                            placeholder="Description" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <label class="col-md-3">Image<span class="required">*</span></label>
                                    <div class="col-md-9">
                            <input type="file" formControlName="image" placeholder="Title" required (change)="onSelectFile($event)">
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <label class="col-md-3"></label>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>