<!-- blog section start -->
<section>
    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            <div class="col">
              <div class="card shadow-sm">
                <img src="/assets/assets/images/b1.png" class="d-block w-100" alt="...">
               
                <div class="card-body">
                    <h5 style="color: #ff5f5f ;">
                      Gizmodo 123
                    </h5>
                  <p class="card-text">Originally launched as a part of Gawker Media Network, Gizmodo is a design, technology, science and science fiction website that also features articles on politics .Founded by Seth Weintraub 13</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="#" class="btn btn-secondary">Read more...</a>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                  <img src="/assets/assets/images/b2.png" class="d-block w-100" alt="...">
                 
                  <div class="card-body">
                      <h5 style="color: #ff5f5f ;">
                        Wired
                      </h5>
                    <p class="card-text">Wired is a massively popular publication, good at capturing real insights into the tech world, no stranger to topics like technology, entertainment, science, culture, politics, and social media. Informed</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-secondary">Read more...</a>
                      </div>
                      <small class="text-muted"></small>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col">
                <div class="card shadow-sm">
                  <img src="/assets/assets/images/b3.png" class="d-block w-100" alt="...">
                 
                  <div class="card-body">
                      <h5 style="color: #ff5f5f ;">
                        TechCrunch
                      </h5>
                    <p class="card-text">Invest yourself in the business verse of the tech world with one of the most popular technology blogs thriving this year- TechCrunch.The blog publishes content on businesses related to tech</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-secondary">Read more...</a>
                      </div>
                      <small class="text-muted"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="/assets/assets/images/b4.png" class="d-block w-100" alt="...">
                 
                  <div class="card-body">
                      <h5 style="color: #ff5f5f ;">
                        The Verge
                      </h5>
                    <p class="card-text">Another highly engaging tech blog operated by VOX Media publishing news, guidebooks, feature stories, product reviews, and podcasts is The Verge!It offers substantial coverage and of personalized perspectives.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-secondary">Read more...</a>
                      </div>
                      <small class="text-muted"></small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/assets/assets/images/b5.png" class="d-block w-100" alt="...">
                 
                  <div class="card-body">
                      <h5 style="color: #ff5f5f ;">
                        Mashable
                      </h5>
                    <p class="card-text">Mashable is a world-renowned, entertainment, and multi-platform media channel.Powered by its own proprietary technology, this tech blog is the go-to source for tech, digital culture.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-secondary">Read more...</a>
                      </div>
                      <small class="text-muted"></small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/assets/assets/images/b6.png" class="d-block w-100" alt="...">
                 
                  <div class="card-body">
                      <h5 style="color: #ff5f5f ;">
                        Recode
                      </h5>
                    <p class="card-text">Currently, owned by VOX media, Recode gives the most updated independent well technology news, analysis trends, and reviews from the most respected and latest tech tips and products.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-secondary">Read more...</a>
                      </div>
                      <small class="text-muted"></small>
                    </div>
                  </div>
                </div>
              </div>
          
          </div>
        </div>
      </div>
</section>

<!-- blog section end -->



<!-- <section class="blog-list mtb-40">
    <div class="container">
        <h1>Blogs</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/images/img1.jpg" alt="blog1" />
                    <h3>Sample blog post 1</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/images/img2.jpg" alt="blog1" />
                    <h3>Sample blog post 2</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/images/img3.jpg" alt="blog1" />
                    <h3>Sample blog post 3</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/images/img4.jpg" alt="blog1" />
                    <h3>Sample blog post 4</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/images/img5.jpg" alt="blog1" />
                    <h3>Sample blog post 5</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/images/img6.jpg" alt="blog1" />
                    <h3>Sample blog post 6</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>
            </div>
        </div>
    </div>
</section> -->